{# To use the layout main twig code you have to extend it #}
{% extends "layout.html.twig" %}
{% block content %}
<h1>Home Page</h1>
<p>Welcome to our Shop , Today is <strong>{{date}}</strong></p>
{% endblock %}